<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <form action="POST">
        <fieldset>
            <legend><%= title %></legend>
            <label for="">
                Value
                <input type="text" name="value">
            </label>
            <label for="">
                Rate
                <input type="text" name="rate">
            </label>
            <label for="">
                Months
                <input type="text" name="months">
            </label>
            <button type="submit">Calculate</button>
        </fieldset>
    </form>
</body>
</html>